<!DOCTYPE html>
<html>

<head>
  <script src="https://kyle-hosting.xyz/solaris.js"></script>
  <script src="https://unpkg.com/@ruffle-rs/ruffle"></script>
  <title>Kyle Hosting™ | Paperio</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/main.css">
</head>

<body onresize="resize()">
  <style>
    .game {
      position: absolute;
      color: white;
      transform: scale(1.8);
      z-index: 3;
      font-family: Arial, Helvetica, sans-serif;
    }
    .fade {
      position: absolute;
      background: linear-gradient(to bottom, #1d1d1d, #1d1d1d5d, rgba(39, 39, 39, 0));
      width: 300px;
      height: 150px;
      border-radius: 15px
    }
  </style><iframe frameBorder="0" id="game"
    style="text-align: center; align-items: center; overflow: hidden; width: 100%; "
    src="https://script.google.com/macros/s/AKfycbxO8jKpDOwFYpSGrGbReR4Mv2e1-6T4uHsWBphygjzyG8Qqpvij/exec"
    allowfullscreen></iframe>
  <h2 onclick="window.location='https://solaris.kyle-hosting.xyz'"
    style="cursor: pointer; position: fixed; bottom: -20px; ">Back</h2>
  <h2 style="position: fixed; bottom: 10px;">____</h2>
  <h2 onclick="makeFullScreen()" style="cursor: pointer; position: fixed; bottom: 20px;">Fullscreen</h2>
</body>
<script>document.body.onkeyup = function (e) { if (e.keyCode == 27) { document.getElementById('game').style.width = '800px'; } }; function requestFullScreen(element) { var requestMethod = element.requestFullScreen || element.webkitRequestFullScreen || element.mozRequestFullScreen || element.msRequestFullscreen; if (requestMethod) { requestMethod.call(element); let hh = window.innerHeight - 10; document.getElementById('game').height = hh } else if (typeof window.ActiveXObject !== "undefined") { var wscript = new ActiveXObject("WScript.Shell"); if (wscript !== null) { wscript.SendKeys("{F11}"); } } } var canvas = document.getElementById('game'); function makeFullScreen() { requestFullScreen(canvas); } let hh = window.innerHeight - 80; document.getElementById('game').height = hh; window.onresize = function (event) { let hh = window.innerHeight - 80; document.getElementById('game').height = hh } </script>
</html>