<!DOCTYPE html>
<html lang="en" class="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://kyle-hosting.xyz/solaris.js"></script>
    <title>Kyle's Gaming</title>
</head>

<body class="bg-gray-900 text-white pt-16">

    <nav class="bg-gray-800 fixed w-full z-20 top-0 start-0 border-b border-gray-600">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
            <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
                <img src="https://flowbite.com/docs/images/logo.svg" class="h-8" alt="Flowbite Logo">
                <span class="self-center text-2xl font-semibold whitespace-nowrap">Kyle's Gaming</span>
            </a>
            <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
                <button type="button"
                    class="text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center">Get
                    started</button>
                <button data-collapse-toggle="navbar-sticky" type="button"
                    class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-400 rounded-lg md:hidden hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-600"
                    aria-controls="navbar-sticky" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 17 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M1 1h15M1 7h15M1 13h15" />
                    </svg>
                </button>
            </div>
            <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
                <ul
                    class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-700 rounded-lg bg-gray-800 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0">
                    <li>
                        <a href="/"
                            class="block py-2 px-3 text-white bg-blue-600 rounded-sm md:bg-transparent md:text-blue-600 md:p-0"
                            aria-current="page">Home</a>
                    </li>
                    <li>
                        <a href="https://kyle-hosting.xyz"
                            class="block py-2 px-3 text-gray-300 rounded-sm hover:bg-gray-700 md:hover:bg-transparent md:hover:text-blue-600 md:p-0">About</a>
                    </li>
                    <li>
                        <a href="https://kyle-hosting.xyz/contact/"
                            class="block py-2 px-3 text-gray-300 rounded-sm hover:bg-gray-700 md:hover:bg-transparent md:hover:text-blue-600 md:p-0">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 p-4">
        <a href="/Flash.html?game=/games/swf/bloonstd1.swf"
            class="flex items-center bg-gray-800 border border-gray-700 rounded-lg shadow-sm hover:bg-gray-700">
            <img class="object-cover w-32 h-32 rounded-lg ml-4 mr-4" src="/static/images/misc/images.jpg" alt="">
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">Sugar, Sugar</h5>
                <p class="mb-3 font-normal text-gray-400">A classic game where you draw to get the sugar in the cups.
                    It's a classic and I grew up playing it.</p>
                <button type="button"
                    class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Play
                    Now</button>
            </div>
        </a>
        <a href="/Flash.html?game=/games/swf/bloonstd3.swf"
            class="flex items-center bg-gray-800 border border-gray-700 rounded-lg shadow-sm hover:bg-gray-700">
            <img class="object-cover w-32 h-32 rounded-lg ml-4 mr-4" src="/static/images/misc/sugarsugar2.jpg" alt="">
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">Sugar, Sugar 2</h5>
                <p class="mb-3 font-normal text-gray-400">The second version of the original game pretty much nothing
                    changed, at least that I noticed.</p>
                <button type="button"
                    class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus :ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Play
                    Now</button>
            </div>
        </a>
        <a href="/Flash.html?game=/games/swf/bloonstd4.swf"
            class="flex items-center bg-gray-800 border border-gray-700 rounded-lg shadow-sm hover:bg-gray-700">
            <img class="object-cover w-32 h-32 rounded-lg ml-4 mr-4" src="/static/images/misc/sugarsugar3.avif" alt="">
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">Sugar, Sugar 3</h5>
                <p class="mb-3 font-normal text-gray-400">Yea they made another one, idek why its was fine to leave it
                    on just 2 or even just one, almost nothing changed.</p>
                <button type="button"
                    class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Play
                    Now</button>
            </div>
        </a>
        <a href="/Flash.html?game=/games/swf/bloonstd5.swf"
            class="flex items-center bg-gray-800 border border-gray-700 rounded-lg shadow-sm hover:bg-gray-700">
            <img class="object-cover w-32 h-32 rounded-lg ml-4 mr-4" src="/static/images/misc/sugarsugar3.avif" alt="">
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">Sugar, Sugar 3</h5>
                <p class="mb-3 font-normal text-gray-400">Yea they made another one, idek why its was fine to leave it
                    on just 2 or even just one, almost nothing changed.</p>
                <button type="button"
                    class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Play
                    Now</button>
            </div>
        </a>

    </div>
    <br>
    <footer class="bg-gray-900 rounded-lg shadow-sm fixed bottom-0 left-0 right-0 m-4 dark:bg-gray-800">
        <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
            <span class="text-sm text-gray-400 sm:text-center dark:text-gray-500">© 2023 <a
                    href="https://kyle-hosting.xyz/" class="hover:underline text-gray-300">Kyle Hosting™</a>. All Rights
                Reserved.
            </span>
            <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-400 dark:text-gray-500 sm:mt-0">
                <li class="mr-4 md:mr-6">
                    <a href="https://kyle-hosting.xyz/about/" class="hover:underline text-gray-300">About</a>
                </li>
                <li class="mr-4 md:mr-6">
                    <a href="https://kyle-hosting.xyz/privacypolicy.html" class="hover:underline text-gray-300">Privacy
                        Policy</a>
                </li>
                <li class="mr-4 md:mr-6">
                    <a href="https://kyle-hosting.xyz/license.html" class="hover:underline text-gray-300">License</a>
                </li>
                <li class="mr-4 md:mr-6">
                    <a href="https://kyle-hosting.xyz/payment/donate/"
                        class="hover:underline text-gray-300">Pay/Donate</a>
                </li>
                <li>
                    <a href="https://kyle-hosting.xyz/contact/" class="hover:underline text-gray-300">Contact</a>
                </li>
            </ul>
        </div>
    </footer>
</body>

</html>